---
layout: default
title: Talks
---
{% assign talks = site.data.talks | sort: "date" | reverse%}
<table style="border-spacing: 0px; width:100%; ">
{% for talk in talks %}
<tr><td style="width: 100%">{{ talk.title }}<br>
<table style="border-spacing: 0px; margins: 0px; color: #707070;"><tr><td>{% for venue in talk.venue %}{% if venue.first %}{% assign vcomment = venue.first[1] %}{% assign v = venue.first[0] %}{% else %}{% assign v = venue %}{% endif %}{% if forloop.first == false%}, {% endif %}{% include processname.html name = v %}{% if vcomment != nil%}<b> ({{vcomment}})</b>{% assign vcomment = nil %}{% endif %}{% endfor %}</tr></td></table>
</td><td style="vertical-align: top;">
  	{% if talk.abstract != nil %}<script>document.write("<a onclick=\"markForOpen('abstract-{{papercounter | string}}'); return false;\" href=\"#\" target=\"_self\"><img src=\"assets/images/info.png\" class=\"icon\" title=\"Abstract\"></a>");</script>{% endif %}
</td><td style="vertical-align: top;">
    {% if talk.slides != nil %}<a href="files/{{talk.slides}}.slides.pdf"><img src="assets/images/slides.png" class="icon" title="Slides"></a> {% endif %}
</td><td style="vertical-align: top;">
  	{% if talk.video != nil %}<a href="{{talk.video}}"><img src="assets/images/video.png" class="icon" title="Video"></a>{% endif %}
</td></tr><tr><td colspan="4">
<div style="display: none" class="collapsible" id="abstract-{{papercounter}}" onclick="doOpen=true;">
{{ talk.abstract }}
</div><br></td></tr>
{% assign papercounter = papercounter | plus: 1 %}
{% endfor %}
</table>